---
layout: layout
title: "Posts"
---
<div class="container" id="main" role="main">
  <div class="posts">
    {% for post in site.posts %}
    {% if post.type == 'text' %}
    <article class="text">
      <header>
        <h2><a href="{{ post.url }}"></a>{{ post.title }}</h2>
      </header>
      <section>
      {{ post.content }}
    {% endif %}
      </section>
      <footer>
        <ul class="meta">
          <li class="time"><a href="{{ post.url }}" class="icon-timeago">{{ post.date | date_to_string }}</a></li>
          {% if page.disqus_id %}
          <li class="comments"><a href="{{ post.url }}#disqus_thread" class="dsq-comment-count semihidden icon-speech-bubble-left-2">&nbsp;</a></li>
          {% endif %}
        </ul>
      </footer>
    </article>
    {% endfor %}
  </div>
