---
layout: layout
title: "Posts"
---
<div class="container" id="main" role="main">
  <div class="posts">
    {% for post in site.posts %}
    {% if post.type == 'text' %}
    <article class="text">
      <header>
        <h2><a href="{{ post.url }}"></a>{{ post.title }}</h2>
      </header>
      <section>
      {{ post.content }}
    {% endif %}
    {% if post.type == 'photo' %}
    <article class="photo">
      <header>
        <a href="{{ post.photo_url }}"><img src="{{ post.photo_url }}" alt="{{ post.title }}" /></a>  <a class="highres photo-link" href="{{ post.photo_url }}"></a>
        <a href="{{ post.url }}" class="permalink-button photo-link">
          <span class="icon-link"></span>
          <strong>Permalink</strong>
        </a>
      </header>
      <section>
        <ul class="exif">
          {% if post.camera %}
          <li class="icon-camera">Camera: <strong>{{ post.camera }}</strong></li>
          {% endif %}
          {% if post.apeture %}
          <li>Apeture: <strong>{{ post.apeture }}</strong></li>
          {% endif %}
          {% if post.exposure %}
          <li>Exposure: <strong>{{ post.exposure }}</strong></li>
          {% endif %}
          {% if post.focal_length %}
          <li>Focal: <strong>{{ post.focal_length }}</strong></li>
          {% endif %}
        </ul>
        {{ post.content }}
    {% endif %}
      </section>
      <footer>
        <ul class="meta">
          <li class="time"><a href="{{ post.url }}" class="icon-timeago">{{ post.date | date_to_string }}</a></li>
          {% if page.disqus_id %}
          <li class="comments"><a href="{{ post.url }}#disqus_thread" class="dsq-comment-count semihidden icon-speech-bubble-left-2">&nbsp;</a></li>
          {% endif %}
        </ul>
      </footer>
    </article>
    {% endfor %}
  </div>
